

.cart-page{
margin:80px auto;

}
table{
width:100%;
border-collapse: collapse;
}

.cart-info{

display: flex;
flex-wrap: wrap;
margin-top: 30px;
}
.cart-money{
display: inline-block;
width: 400px;
}
th{
text-align: left;
padding: 5px;
color: #fff;
background:orange;
font-weight: normal;

}
td{
padding: 10px 5px;
}
td input{
width: 40px;
height: 30px;
padding: 5px;
}
td button{
background-color: red;
border:none;
border-radius:5px;
color:#fff;
font-size: 12px;
}
td button:hover{
background-color: #ff523b;
}
td img{
width: 80px;
height: 80px;
margin-right: 10px;
}
.total-price{
display: flex;
justify-content: flex-end;
}
.total-price table{
border-top: 3px solid orange;
width: 100%;
max-width: 400px;
}
td:last-child{
text-align:right;
}
th:last-child{
text-align: right;
}